.hero {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100vh;
	min-height: 600px;
	@include mobile {
		grid-template-columns: 1fr;
		min-height: 300px;
		height: auto;
	}
	&__img {
		overflow: hidden;
		img, video, iframe {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@include mobile {
			height: 50vh;
			min-height: 300px;
		}
	}
	&__info {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		@include laptop {
			align-items: center;
		}
		&-inner {
			padding: 100px 164px 100px 155px;
			// max-width: 700px;
			@include laptop {
				padding: 50px;
				max-width: 500px;
			}
			@include mobile {
				padding: 20px 15px;
				max-width: none;
				text-align: center;
			}
		}
		p {
			margin-bottom: 20px;
		}
	}
}

.fixed-el {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 50%;
	margin-left: -97px;
	&.active {
		transform: scale(0.905);
		bottom: -70px;
		// &:hover {
		// 	transform: translateY(-100px) scale(1);
		// }
	}
	&.hidden {
		transform: scale(0.905);
		bottom: -200px;
		transition: all 0.4s ease-in-out, bottom 0.4s 0.6s ease-in-out;
	}
	&.hover {
		transform: scale(1);
		bottom: 20px;
		&:before {
			bottom: 100%;
		}
		transition: all 0.4s ease-in-out, transform 0.4s 0.6s ease-in-out;
	}
}
.fixed-el {
	transform: scale(1);
	bottom: 20px;
	transition: all 0.4s ease-in-out;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		transition: all 0.5s ease-in-out;

	}
	&__circle {
		display: block;
		width: 100%;
		height: 100%;
		background: #5A30F0;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 50%;
		width: 195px;
		height: 195px;
	}
	&__text {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&__inner {
		position: relative;
		text-align: center;
		width: 195px;
		height: 195px;
		color: #fff;
		// transform: rotate(-35deg);
		font-weight: 700;
		font-size: 18px;
		line-height: 130%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		cursor: pointer;
		.fixed-el__text span {
			animation: {
				name: animFix;
				duration: 10s;
				timing-function: linear; // ease | ease-in-out
				delay: 0s; //задержка
				iteration-count: infinite; // infinite | <number>
				direction: alternate-reverse; // reverse; alternate; alternate-reverse;
				fill-mode: none; // none | forwards | backwards | both
				play-state: running; // running | paused
			}
		}
	}
}

@keyframes animFix {
	from {
		transform: rotate(-35deg);
	}
	to {
		transform: rotate(35deg);
	}
}

.menus {
  display: block;
  width: 200px;
  height: 200px;
  transition: .3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  background:#e52165;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25% 0 0 -25%;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}

.text {
  position: absolute;
  top: 50%;
  display: block;
  z-index: 10;
  width: 100%;
  text-align: center;
  margin-top: -9px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}


