<header class="header">
	<div class="header__inner">
		<div class="header__logo">
			<div class="logo">
				<a href="/">
					<img src="img/logo.svg" alt="logotype">
				</a>
			</div>
			<div class="choise-btn">
				<span class="btn btn_active">Дом</span>
				<a href="#" class="btn">Офис</a>
			</div>
		</div>
		<div class="header__nav">
			<nav class="menu-nav">
				<ul class="menu">
					<li><a href="#">После ремонта</a></li>
					<li><a href="#">Генеральная уборка</a></li>
					<li><a href="#">Регулярная уборка</a></li>
					<li><a href="#">Мойка окон</a></li>
				</ul>
			</nav>
		</div>
		<div class="header__burger">
			<div class="tel-cap">
				<a href="tel:+380674016977">+380 67 401 69 77</a>
				<span>24/7</span>
			</div>
			<div class="burger">
				<button class="btn-burger" aria-label="burger menu">
					<span></span><span></span>
				</button>
			</div>
		</div>
	</div>
</header>
