.preloader {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 1;
	transition: all 0.3s ease-in-out;
	&.hidden {
		opacity: 0;
		display: none;
	}

	&__value {
		font-size: 10px;
		line-height: 22px;
	}

	&__line {
		height: 3px;
		display: block;
		width: 45px;
		border-radius: 2px;
		overflow: hidden;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: #404040;
			transform: translateX(-100%);
			animation: {
				name: line;
				duration: 5s;
				timing-function: linear; // ease | ease-in-out
				delay: 0s; //задержка
				iteration-count: 1; // infinite | <number>
				direction: normal; // reverse; alternate; alternate-reverse;
				fill-mode: forwards; // none | forwards | backwards | both
				play-state: running; // running | paused
			}

		}
	}

	@keyframes line {
		from {
			transform: translateX(-100%);
		}
		to {
			transform: translateX(0);
		}
	}

	svg  {
		// transform: rotate(63deg);
		// animation: rotate 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
		// transform-origin: 50% 65%;
		width: 45px;
		height: 45px;
		// transform: rotate(90deg);
	}

	svg polygon, svg path {
		// stroke-dasharray: 0;

		stroke-dasharray: 160;
		stroke-dashoffset: 320;
		// animation: dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
		animation: {
			name: dash;
			duration: 2s;
			timing-function: linear; // ease | ease-in-out
			// timing-function: cubic-bezier(1,-0.01,1,0); // ease | ease-in-out
			delay: 0s; //задержка
			iteration-count: infinite; // infinite | <number>
			direction: normal; // reverse; alternate; alternate-reverse;
			fill-mode: none; // none | forwards | backwards | both
			play-state: running; // running | paused
		}

	}
}


@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}


