<div class="section-wrapp">
	<div class="container">
		<div class="cards">
			<div class="cards__item">
				<div class="card" data-anim-fadey>
					<h3 class="card__tt">Тщательно отобранный персонал</h3>
					<div class="card__img">
						<img src="img/card1.png" alt="card image">
					</div>
					<div class="card__open">
						<p>Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.</p>
					</div>
				</div>
			</div>
			<div class="cards__item">
				<div class="card" data-anim-fadey="0.4">
					<h3 class="card__tt">Качественная эко-химия</h3>
					<div class="card__img">
						<img src="img/card2.png" alt="card image">
					</div>
					<div class="card__open">
						<p>Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.</p>
					</div>
				</div>
			</div>
			<div class="cards__item">
				<div class="card" data-anim-fadey="0.6">
					<h3 class="card__tt">Контролируем качество</h3>
					<div class="card__img">
						<img src="img/card3.png" alt="card image">
					</div>
					<div class="card__open">
						<p>Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.</p>
					</div>
				</div>
			</div>
			<div class="cards__item">
				<div class="card" data-anim-fadey="0.9">
					<h3 class="card__tt">Работаем круглосуточно</h3>
					<div class="card__img">
						<img src="img/card4.png" alt="card image">
					</div>
					<div class="card__open">
						<p>Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
