
<div class="section-choise">
	<div class="container container_sm">
		<div class="choise-cap">
			<div class="choise-cap__tt">
				<h2>Как мы убираем</h2>
			</div>
			<div class="choise-cap__txt">
				<p>Клинер приезжает в назначенное время со всем необходимым и сразу приступает к делу. Вам остаётся только оценить результат.</p>
			</div>
		</div>
	</div>
	<div class="section-choise__inner" data-anim-img data-choise>
		<div class="choise-box">
			<div class="choise-box__aside">
				<div class="choise-box__aside-inner">
					<div class="choise-box__name">Как мы убираем</div>
					<div class="choise-menu">
						<div class="choise-menu__item">
							<button class="choise-menu__btn active">Кухня</button>
						</div>
						<div class="choise-menu__item">
							<button class="choise-menu__btn">Комнаты</button>
						</div>
						<div class="choise-menu__item">
							<button class="choise-menu__btn">Ванная</button>
						</div>
						<div class="choise-menu__item">
							<button class="choise-menu__btn">Прихожая</button>
						</div>
					</div>
				</div>
			</div>
			<div class="choise-box__img">
				<div class="img-set-wrapp active">
					<div class="img-set-wrapp__inner">
						<div class="img-set active">
							<img src="img/img-set1.jpg" alt="image choise">
							<div class="dots dots_one">
								<div class="dot dot_one">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_two">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_three">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_four">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_five">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_six">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_seven">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="img-set-wrapp">
					<div class="img-set-wrapp__inner">
						<div class="img-set">
							<img src="img/img-set2.jpg" alt="image choise">
							<div class="dots dots_two">
								<div class="dot dot_one">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_two">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_three">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_four">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_five">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="img-set-wrapp">
					<div class="img-set-wrapp__inner">
						<div class="img-set">
							<img src="img/img-set2.jpg" alt="image choise">
							<div class="dots dots_two">
								<div class="dot dot_one">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_two">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_three">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_four">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_five">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="img-set-wrapp">
					<div class="img-set-wrapp__inner">
						<div class="img-set">
							<img src="img/img-set1.jpg" alt="image choise">
							<div class="dots dots_one">
								<div class="dot dot_one">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_two">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_three">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_four">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_five">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_six">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
								<div class="dot dot_seven">
									<div class="dot__point"><span></span></div>
									<div class="dot__txt">Чистим фасад вытяжки</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="img-set">
					<img src="img/img-set2.jpg" alt="image choise">
					<div class="dot"></div>
				</div> -->
			</div>
		</div>
	</div>
</div>
