<div class="hero">
	<div class="hero__img">
		<img src="img/hero.jpg" alt="hero image">
	</div>
	<div class="hero__info">
		<div class="hero__info-inner">
			<h1>Уборка квартир в Киеве </h1>
			<p>Мы уберем у вас дома или в офисе. Наведем чистоту после ремонта и проведем генеральную уборку. </p>
		</div>
	</div>
</div>
