html,
body {
	// font-family: $font-1;
	// font-weight: 300;
	color: $c-black-two;
	font: normal 400 18px/1.4  $font-1;
	// font-family: $font-1;
	@include tabletMaxi {
		font-size: 16px;
	}
	@include mobile {
		font-size: 14px;
	}
}

main {
	width: 100%;
}

img,
video,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

button,
a,
[class *= "button"],
[class *= "btn"],
[class *= "link"],
[type *= "submit"] {
	cursor: pointer;
}
